.parent {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.currentCardInfo {
  max-width: 40%;
  margin-top: 5%;
  font-size: 1.15rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  text-shadow: 2px 2px 10px rgb(159, 223, 242);
  margin-left: 25%;
  margin-right: 8%;
}

.search-bar {
    position: relative;
    overflow: auto;
    color: white;
    padding-top: 0; /* set to the height of the search-bar */
    font-family: 'Courier New', Courier, monospace;
  }

#dropdown {
  font-family: 'Courier New', Courier, monospace;
}

input::placeholder {
  font-family: 'Courier New', Courier, monospace;
}

.input-textbox, .input-textarea {
  font-family : 'Courier New', Courier, monospace !important;
}

 .grant-form{
    box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
    position: sticky; /* Add this */
    top: 0; /* Add this */
    background-color: rgba(0, 0, 0, .7);
    font-family: 'Courier New', Courier, monospace;
    margin-left: .25rem;
    cursor: 'pointer';
 }

 .search-results{
    box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
    border: 1px black solid;
    height: 20rem;
    max-width: 18rem;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: .25rem;
    cursor: 'pointer';
 }

 .result {
  cursor: 'pointer';
 }

.overflow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: 'pointer';
}
