#form {
    text-align: center;
    border: 2px solid darkgrey;
    box-shadow: 8px 8px 10px #2D2B2E;
    margin: 0 auto;
    width: 25%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(255,255,255,0.7);
    border-radius: 1.5rem
}

input::placeholder {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2D2B2E;
    background-color: transparent;
    padding: .5rem .75rem .5rem .75rem;
    font-weight: 700;
}
