@font-face {
  font-family: "Digimon Font";
  src: url(../public/PixelDigivolve-mOm9.ttf);
}

body {
  background: linear-gradient(to bottom, #ADD8E6 55%, #FFAA33);
  height: auto;
}

nav {
  font-family: "Digimon Font";
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.25rem;
  background-color: blue;
  padding-bottom: .5rem;
  position: sticky;
  top: 0px
}

nav a {
  color: lightblue;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}