.cards {
  background-repeat: no-repeat;
  background-size: contain;
  width: 10rem;
  height: 14rem;
  box-shadow: 8px 8px 10px #2D2B2E;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
}

h2 {
  font-family: "Digimon Font";
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  color: blue;
}
